/* Taken from: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  background: #f3f4f7; }

.terminal-simulator {
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background: #404040;
  color: #e8e8e8;
  padding: 1.25rem;
  font-family: "Droid Sans Mono", monospace;
  font-weight: 400;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow: auto; }

.terminal-simulator_line, .terminal-simulator_line--comment, .terminal-simulator_line--output, .terminal-simulator_line--command {
  word-wrap: break-word;
  border-radius: 3px;
  display: block;
  color: #e8e8e8;
  border-radius: 3px;
  padding: 1em;
  color: #e8e8e8;
  padding: 0;
  display: block;
  white-space: nowrap; }

.terminal-simulator_line--comment {
  color: #666666; }

.terminal-simulator_line_content {
  display: inline-block;
  font-size: 0; }

.terminal-simulator_line_content_prompt {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #666666;
  display: inline-block; }

.terminal-simulator_line_content_prompt_sequence {
  display: inline-block;
  margin: 0 6px 0 0;
  text-align: center; }

.terminal-simulator_line_content_prompt_sequence--green {
  color: #B9E8BB; }

.terminal-simulator_line_content_prompt_sequence--cayan {
  color: #75D4D6; }

.terminal-simulator_line_content_prompt_sequence--magenta {
  color: #D7ACD6; }

.terminal-simulator_line_content_prompt_sequence--blue {
  color: #78AAD6; }

.terminal-simulator_line_content_prompt_sequence--yellow {
  color: #FFD479; }

.terminal-simulator_line_content_prompt_sequence--red {
  color: #F78D8C; }

.terminal-simulator_line_content_prompt_sequence_char {
  display: inline-block;
  font-size: 16px;
  padding: 0 .2px;
  text-align: center; }

.terminal-simulator_line_content_prompt_sequence_char--green {
  color: #B9E8BB; }

.terminal-simulator_line_content_prompt_sequence_char--cayan {
  color: #75D4D6; }

.terminal-simulator_line_content_prompt_sequence_char--magenta {
  color: #D7ACD6; }

.terminal-simulator_line_content_prompt_sequence_char--blue {
  color: #78AAD6; }

.terminal-simulator_line_content_prompt_sequence_char--yellow {
  color: #FFD479; }

.terminal-simulator_line_content_prompt_sequence_char--red {
  color: #F78D8C; }

.terminal-simulator_line_content_sequence, .terminal-simulator_line_content_prompt_sequence--green, .terminal-simulator_line_content_prompt_sequence--cayan, .terminal-simulator_line_content_prompt_sequence--magenta, .terminal-simulator_line_content_prompt_sequence--blue, .terminal-simulator_line_content_prompt_sequence--yellow, .terminal-simulator_line_content_prompt_sequence--red, .terminal-simulator_line_content_sequence--green, .terminal-simulator_line_content_sequence--cayan, .terminal-simulator_line_content_sequence--magenta, .terminal-simulator_line_content_sequence--blue, .terminal-simulator_line_content_sequence--yellow, .terminal-simulator_line_content_sequence--red {
  display: inline-block;
  margin: 0 6px 0 0;
  text-align: center; }

.terminal-simulator_line_content_sequence--green {
  color: #B9E8BB; }

.terminal-simulator_line_content_sequence--cayan {
  color: #75D4D6; }

.terminal-simulator_line_content_sequence--magenta {
  color: #D7ACD6; }

.terminal-simulator_line_content_sequence--blue {
  color: #78AAD6; }

.terminal-simulator_line_content_sequence--yellow {
  color: #FFD479; }

.terminal-simulator_line_content_sequence--red {
  color: #F78D8C; }

.terminal-simulator_line_content_sequence_char, .terminal-simulator_line_content_prompt_sequence_char--green, .terminal-simulator_line_content_prompt_sequence_char--cayan, .terminal-simulator_line_content_prompt_sequence_char--magenta, .terminal-simulator_line_content_prompt_sequence_char--blue, .terminal-simulator_line_content_prompt_sequence_char--yellow, .terminal-simulator_line_content_prompt_sequence_char--red, .terminal-simulator_line_content_sequence_char--green, .terminal-simulator_line_content_sequence_char--cayan, .terminal-simulator_line_content_sequence_char--magenta, .terminal-simulator_line_content_sequence_char--blue, .terminal-simulator_line_content_sequence_char--yellow, .terminal-simulator_line_content_sequence_char--red {
  display: inline-block;
  font-size: 16px;
  padding: 0 .2px;
  text-align: center; }

.terminal-simulator_line_content_sequence_char--green {
  color: #B9E8BB; }

.terminal-simulator_line_content_sequence_char--cayan {
  color: #75D4D6; }

.terminal-simulator_line_content_sequence_char--magenta {
  color: #D7ACD6; }

.terminal-simulator_line_content_sequence_char--blue {
  color: #78AAD6; }

.terminal-simulator_line_content_sequence_char--yellow {
  color: #FFD479; }

.terminal-simulator_line_content_sequence_char--red {
  color: #F78D8C; }

.simplistic-project-template {
  background: #f3f4f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #445870;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.25px; }

@media only screen and (max-width: 700px) {
  .simplistic-project-template {
    padding: 0 10px; } }

.simplistic-project-template_header {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  padding: 25px 0; }

@media only screen and (max-width: 700px) {
  .simplistic-project-template_header {
    width: 100%; } }

.simplistic-project-template_header_title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -2px; }

.simplistic-project-template_header_description {
  color: #90a1b5;
  font-size: 18px;
  margin: 25px 0; }

.simplistic-project-template_header_actions_action-wrapper {
  display: inline-block; }

@media only screen and (max-width: 333px) {
  .simplistic-project-template_header_actions_action-wrapper {
    width: 100%;
    margin: 3px 0; } }

.simplistic-project-template_header_actions_action-wrapper_action, .simplistic-project-template_header_actions_action-wrapper_action--filled, .simplistic-project-template_header_actions_action-wrapper_action--transparent {
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  height: 42px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: 100%;
  border: 1px solid;
  width: 100%;
  display: inline-block; }

.simplistic-project-template_header_actions_action-wrapper_action--filled {
  background-color: #55a1fb;
  color: #fff; }

.simplistic-project-template_header_actions_action-wrapper_action--transparent {
  color: #55a1fb;
  border-color: #d0dae5; }

.termster-container {
  width: 600px;
  margin: 0 auto; }

@media only screen and (max-width: 700px) {
  .termster-container {
    width: 100%; } }
