@import 'reset';

$green: #B9E8BB;
$dark-gray: #404040;
$gray: #666666;
$white: #D6D6D6;
$cayan: #75D4D6;
$magenta: #D7ACD6;
$blue: #78AAD6;
$yellow: #FFD479;
$red: #F78D8C;

$font-size: 16px;

body {
  background: #f3f4f7;
}

.terminal-simulator {
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background: $dark-gray;
  color: #e8e8e8;
  padding: 1.25rem;
  font-family: "Droid Sans Mono", monospace;
  font-weight: 400;
  box-shadow: 0 0 1em rgba(0,0,0,0.25);
  border-radius: 3px;
  overflow: auto;
}

.terminal-simulator_line {
  word-wrap: break-word;
  border-radius: 3px;

  display: block;
  color: #e8e8e8;
  border-radius: 3px;
  padding: 1em;

  color: #e8e8e8;
  padding: 0;
  display: block;
  white-space: nowrap;
}

.terminal-simulator_line--comment {
  @extend .terminal-simulator_line;
  color: rgb(102, 102, 102);
}

.terminal-simulator_line--output {
  @extend .terminal-simulator_line;
}
.terminal-simulator_line--command{
  @extend .terminal-simulator_line;
}


.terminal-simulator_line_content {
  display: inline-block;
  font-size: 0;
}
.terminal-simulator_line_content_prompt {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $gray;
  display: inline-block;
}
.terminal-simulator_line_content_prompt_sequence {
  display: inline-block;
  margin: 0 6px 0 0;
  text-align: center;
}
.terminal-simulator_line_content_prompt_sequence--green {
  @extend .terminal-simulator_line_content_sequence;
  color: $green;
}
.terminal-simulator_line_content_prompt_sequence--cayan {
  @extend .terminal-simulator_line_content_sequence;
  color: $cayan;
}
.terminal-simulator_line_content_prompt_sequence--magenta{
  @extend .terminal-simulator_line_content_sequence;
  color: $magenta;
}
.terminal-simulator_line_content_prompt_sequence--blue {
  @extend .terminal-simulator_line_content_sequence;
  color: $blue;
}
.terminal-simulator_line_content_prompt_sequence--yellow {
  @extend .terminal-simulator_line_content_sequence;
  color: $yellow;
}
.terminal-simulator_line_content_prompt_sequence--red {
  @extend .terminal-simulator_line_content_sequence;
  color: $red;
}
.terminal-simulator_line_content_prompt_sequence_char {
  display: inline-block;
  font-size: $font-size;
  padding: 0 .2px;
  text-align: center;
}
.terminal-simulator_line_content_prompt_sequence_char--green {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $green;
}
.terminal-simulator_line_content_prompt_sequence_char--cayan {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $cayan;
}
.terminal-simulator_line_content_prompt_sequence_char--magenta{
  @extend .terminal-simulator_line_content_sequence_char;
  color: $magenta;
}
.terminal-simulator_line_content_prompt_sequence_char--blue {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $blue;
}
.terminal-simulator_line_content_prompt_sequence_char--yellow {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $yellow;
}
.terminal-simulator_line_content_prompt_sequence_char--red {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $red;
}

.terminal-simulator_line_content_sequence {
  display: inline-block;
  margin: 0 6px 0 0;
  text-align: center;
}

.terminal-simulator_line_content_sequence--green {
  @extend .terminal-simulator_line_content_sequence;
  color: $green;
}
.terminal-simulator_line_content_sequence--cayan {
  @extend .terminal-simulator_line_content_sequence;
  color: $cayan;
}
.terminal-simulator_line_content_sequence--magenta{
  @extend .terminal-simulator_line_content_sequence;
  color: $magenta;
}
.terminal-simulator_line_content_sequence--blue {
  @extend .terminal-simulator_line_content_sequence;
  color: $blue;
}
.terminal-simulator_line_content_sequence--yellow {
  @extend .terminal-simulator_line_content_sequence;
  color: $yellow;
}
.terminal-simulator_line_content_sequence--red {
  @extend .terminal-simulator_line_content_sequence;
  color: $red;
}

.terminal-simulator_line_content_sequence_char {
  display: inline-block;
  font-size: $font-size;
  padding: 0 .2px;
  text-align: center;
}

.terminal-simulator_line_content_sequence_char--green {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $green;
}
.terminal-simulator_line_content_sequence_char--cayan {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $cayan;
}
.terminal-simulator_line_content_sequence_char--magenta{
  @extend .terminal-simulator_line_content_sequence_char;
  color: $magenta;
}
.terminal-simulator_line_content_sequence_char--blue {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $blue;
}
.terminal-simulator_line_content_sequence_char--yellow {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $yellow;
}
.terminal-simulator_line_content_sequence_char--red {
  @extend .terminal-simulator_line_content_sequence_char;
  color: $red;
}

.simplistic-project-template {
  background: #f3f4f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #445870;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.25px;
}
@media only screen and (max-width: 700px) {
  .simplistic-project-template {
    padding: 0 10px;
  }
}

.simplistic-project-template_header {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  padding: 25px 0;
}
@media only screen and (max-width: 700px) {
  .simplistic-project-template_header {
    width: 100%;
  }
}

.simplistic-project-template_header_title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -2px;
}
.simplistic-project-template_header_description{
  color: #90a1b5;
  font-size: 18px;
  margin: 25px 0;
}
.simplistic-project-template_header_actions {
}
.simplistic-project-template_header_actions_action-wrapper {
  display: inline-block;
}
@media only screen and (max-width: 333px) {
  .simplistic-project-template_header_actions_action-wrapper{
    width: 100%;
    margin: 3px 0;
  }
}
.simplistic-project-template_header_actions_action-wrapper_action {
  // padding: 20px;
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  height: 42px;
  // outline: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: 100%;
  border: 1px solid;
  width: 100%;
  display: inline-block;
}
.simplistic-project-template_header_actions_action-wrapper_action--filled {
  @extend .simplistic-project-template_header_actions_action-wrapper_action;
  background-color: #55a1fb;
  // border-color: #55a1fb;
  color: #fff;
}
.simplistic-project-template_header_actions_action-wrapper_action--transparent{
  @extend .simplistic-project-template_header_actions_action-wrapper_action;
  color: #55a1fb;
  border-color: #d0dae5;
}

.termster-container {
  width: 600px;
  margin: 0 auto;
}
@media only screen and (max-width: 700px) {
  .termster-container {
    width: 100%;
  }
}
